# Data obtenida del endpoind de mcdonals
INITIAL_DATA_URL='https://api-mcd-ecommerce-ar.appmcdonalds.com/catalog/menu/lite?restaurant=&area=&outdaypart=true'



# data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDAiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDQwIDkiPgogICAgPGRlZnM+CiAgICAgICAgPHBhdGggaWQ9ImEiIGQ9Ik0wIDBoNDIuMDA4djguNTFIMHoiLz4KICAgIDwvZGVmcz4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEpIj4KICAgICAgICA8bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+CiAgICAgICAgICAgIDx1c2UgeGxpbms6aHJlZj0iI2EiLz4KICAgICAgICA8L21hc2s+CiAgICAgICAgPHBhdGggZmlsbD0iI0ZGQkMwRCIgZD0iTTAgMGgxLjQyQzUuNzkuMTc4IDguMDA0IDQuNzE5IDEyLjYyMyA0LjAwNmMxLjY2Ni0uMjU4IDMuMDU0LTEuMjMyIDQuNzk1LTEuMjQ3IDQuMTY2LS4wMzMgNi4yMTEgNC43NjkgMTAuMDk4IDUuNjAxIDEuMTY2LjI1IDIuMzkuMjE3IDMuNDY4LS4zMy45NDYtLjQ4MSAxLjY4LTEuMjc3IDIuMzE3LTIuMTA5IDEuMS0xLjQzOCAyLjA4LTIuOTk3IDMuMzk2LTQuMjU3LjcxNi0uNjg0IDEuNTgtMS4zMiAyLjU2LTEuNTI4QTcuMzI0IDcuMzI0IDAgMCAxIDQwLjQwOCAwaDEuNiIgbWFzaz0idXJsKCNiKSIvPgogICAgPC9nPgo8L3N2Zz4K